.img-thumbnail {
    width: 400px;
    height: 300px;
}

#myBio, #projects {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    background-color: lightgray;
    width: 100%;
    padding: 10px;
}

footer {
    background-color: darkgray;
    font: white;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}

body {
    background-image: url(images/pexels-photo-220182.jpeg);
}